<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SharpNeat.Domains.Properties.Settings.ExperimentDataConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ExperimentData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>