<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ExperimentDataEntities" connectionString="metadata=res://*/ExperimentModel.csdl|res://*/ExperimentModel.ssdl|res://*/ExperimentModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JONATHAN-PC\RESEARCH;initial catalog=ExperimentData;persist security info=True;user id=sa;password=firebirdl32;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>